.modal-container {
	width: 100%;
	height: 100%;
	background-color: rgba(50, 50, 50, .7);
	z-index: 2;
	position: fixed;
	top: 0;
}

.modal {
	width: 50vw;
	height: 50vh;
	color: #777;
	font-weight: 300;
	margin: 50px auto 0;
	border-radius: 5px;
	background-color: #fff;
	animation: intoView .6s ease-out;
}

@keyframes intoView {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(0);
	}
}

.modal-inside {
	width: 75%;
	height: 75%;
	margin: auto;
	padding-top: 50px;
	display: flex;
	flex-wrap: wrap;
}

.modal-header {
	font-size: 40px;
	width: 90%;
	text-align: left;
	text-transform: lowercase;
}

/*.modal-header::first-letter {
	text-transform: capitalize;
}*/

.close {
	font-size: 40px;
	width: 10%;
	text-align: right;
	cursor: pointer;
}

.modal-info {
	font-size: 20px;
	width: 100%;
	text-align: left;
}

@media screen and (max-width: 500px) {
	.modal {
		width: 80vw;
	}
	.modal-header,
	.close {
		font-size: 20px;
	}

	.modal-info {
		font-size: 16px;
	}
}